@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');



*{
  margin: 0;
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'typo_round_regular_demoRg';
}

.bg-celeste{
  background-color: rgb(81, 168, 177)
}

.bg-cardpp{
  background-color: rgb(247, 173, 175);
}

.bg-cardm{
  background-color: rgb(125, 172, 198);
}

.btn-celeste{
  color: rgb(81, 168, 177) ;
}

.btn-outline-celeste{
  color: white;
  border-color:  #218b99;
}

.btn-outline-celeste:hover {
  color: #fff;
  background-color: #218b99;
  border-color:  #218b99;
}

.border-celeste {
  border-color: #218b99 !important;
}


@font-face {
  font-family: 'typo_round_regular_demoRg';
  src: url('./components/fonts/typo_round_regular_demo-webfont.woff2') format('woff2'),
       url('./components/fonts/typo_round_regular_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
