@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');



*{
  margin: 0;
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'typo_round_regular_demoRg';
}
.font-celeste-crud{
  color: #218b99;
  font-weight: bold;
}

.colorfuente{
  color:#218b99
}

.bg-celeste{
  background-color: rgb(81, 168, 177)
}

.bg-celeste-crud{
  background-color: #218b99;
}

.bg-cardpp{
  background-color: rgb(247, 173, 175);
}

.bg-cardm{
  background-color: rgb(125, 172, 198);
}

.btn-celeste{
  color: rgb(81, 168, 177) ;
}

.bg-card-turnos{
  background-color: #7DACC6;
}

.btn-outline-celeste{
  color: white;
  border-color:  #218b99;  
}
.btn-outline-celeste:hover {
  color: #fff;
  background-color: #218b99;
  border-color:  #218b99;
}

.btn-celeste-crud {
  min-width: 70px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #218b99;
  color: #218b99;
}
.btn-celeste-crud:hover {
  color: #fff;
}
.btn-celeste-crud:hover:after {
  width: 100%;
}
.btn-celeste-crud:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #218b99;
}

.border-celeste-crud{
  border: 20px solid #218b99;
}

@font-face {
  font-family: 'typo_round_regular_demoRg';
  src: url('./components/fonts/typo_round_regular_demo-webfont.woff2') format('woff2'),
       url('./components/fonts/typo_round_regular_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
