@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


*{
  margin: 0;
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'typo_round_regular_demoRg';
}

.bg-celeste{
  background-color: #218b99;
}

.bg-cardpp{
  background-color: #e777cf;
}

.bg-cardm{
  background-color: rgb(57, 134, 197);
}



@font-face {
  font-family: 'typo_round_regular_demoRg';
  src: url('./components/fonts/typo_round_regular_demo-webfont.woff2') format('woff2'),
       url('./components/fonts/typo_round_regular_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
